body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #08070b91;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 13vh;
  backdrop-filter: saturate(180%) blur(5px);
}

.logo {
  font-size: 40px;
  color: #7e39ce;
  margin-left: -33px;
  cursor: pointer;
}

.logo:hover {
  color: #5a2a92;
  transition: 0s !important;
}

img {
  height: 330px;
  width: 590px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 589px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #8118f8;
  transition: 0.5s;
  border-radius: 25%;
}

main {
  background-color: #1a1a1a;
  color: #fff;
}

section {
  min-height: 100vh;
  padding-top: 12rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texto1 {
  background-color: #8118f8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.texto2 {
  margin-top: -35px;
}

.texto3 {
  padding: 31px 0px 31px;
}

.sobreImg {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 48%;
}

.cardsPai {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #575555;
  width: 200px;
  height: 200px;
  border: 5px #5a2a92;
}

.cards img{
  width: 200px !important;
  height: 200px !important;
}