<header>
  <a (click)="goToPage('home')">
  <!-- <a href="#home"> -->
    <img class="logoImg" src="assets/teste_logo.png" alt="" />
  </a>
  <nav>
    <ul>
      <li>
        <a (click)="goToPage('sobre')">Sobre</a>
        <!-- <a href="#sobre">Sobre</a> -->
      </li>
      <li>
        <a (click)="goToPage('projetos')">Projetos</a>
        <!-- <a href="projetos/projetos.html">Projetos</a> -->
      </li>
      <li>
        <a (click)="goToPage('contato')">Contato</a>
        <!-- <a href="contato/contato.html" (click)="contato()">Contato</a> -->
      </li>
    </ul>
  </nav>
</header>
