#projetos {
  height: 100vh;
}

@media (min-width: 769px) {
  /* Exemplo de ajuste para o cabeçalho */
  header {
    background-color: #08070b91;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7.5rem;
    backdrop-filter: saturate(180%) blur(5px);
  }

  /* Ajustar o tamanho da imagem do logo */
  .logoImg {
    width: 150px; /* Ajuste o tamanho conforme necessário */
  }

  /* Exemplo de ajuste para a navegação */
  nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 36.8125rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #8118f8;
    transition: 0.5s;
    border-radius: 25%;
  }

  .logoImg {
    height: 6.25rem;
    width: 6.25rem;
  }

  .logoImg:hover {
    opacity: 0.5;
    transition: 0s !important;
  }

  img {
    height: 20.625rem;
    width: 36.875rem;
    border-radius: 0.3125rem;
  }

  nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 36.8125rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #8118f8;
    transition: 0.5s;
    border-radius: 25%;
  }

  #projetos {
    padding-top: 7.123rem;
    height: 100vh;
  }

  h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: lighter;
  }

  .cardsPai {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.9375rem;
    padding-bottom: 3rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #575555;
    width: 12.5rem;
    height: 12.5rem;
    border: 0.3125rem #5a2a92;
  }

  .cards img {
    width: 12.5rem !important;
    height: 12.5rem !important;
  }
}

@media (max-width: 768px) {
  /* estilos pra celulares */
  /* Exemplo de ajuste para o cabeçalho */

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #08070b91;
    color: #fff;
    backdrop-filter: saturate(180%) blur(5px);
    position: fixed;
    width: 100%;
    height: 7.5rem;
  }

  /* Ajustar o tamanho da imagem do logo */
  .logoImg {
    width: 100px; /* Ajuste o tamanho conforme necessário */
  }

  /* Exemplo de ajuste para a navegação */
  nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #8118f8;
    transition: 0.5s;
    border-radius: 25%;
  }

  li {
    margin-left: 0.625rem;
  }

  .cardsPai {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.9375rem;
    padding-bottom: 4rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #575555;
    width: 7rem;
    height: 7rem;
    border: 0.3125rem #5a2a92;
  }

  .cards img {
    width: 7rem !important;
    height: 7rem !important;
  }

  #projetos {
    padding-top: 10rem;
  }

  h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: lighter;
  }
}
