
<app-header></app-header>
<body>
  <main>
    <section id="projetos">
      <div class="projetos">
        <h5>Estou construindo Meu Portifólio</h5>
        <div class="cardsPai">
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
        </div>
        <div class="cardsPai">
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
          <div class="cards">
            <img src="assets/em-breve.png" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<app-footer></app-footer>
