<app-header></app-header>
<body>
  <main>
    <section id="sobre">
      <div class="sobreImg">
        <img class="imgFace" src="assets/img.jpg" alt="" />
        <div class="sobre">
          <h3>Sobre mim.</h3>
          <h4>
            Meu nome é Antonio, tenho 27 anos e sou apaixonado por tecnologia e
            programação desde muito novo.
          </h4>
          <br />
          <h4>
            Sou um programador que aproveita os desafios, atualmente estou
            trabalhando como Desenvolvedor Full-Stack (gostando mais do Front
            ¯\_(ヅ)_/¯, e me acostumando com o Back), na Capgemini e tenho 2
            anos de experiência com essas tecnologias: HTML, CSS, TypeScript,
            Angular, Java, ferramentas de versionamento e ágil.
          </h4>
          <br />
          <h4>
            Estou sempre buscando aprender mais e mais, e acredito que a melhor
            forma de aprender é ensinando, por isso, estou sempre disposto a
            ajudar e ensinar quem precisar.
          </h4>
        </div>
      </div>
    </section>
  </main>
</body>
<app-footer></app-footer>
