<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antonio Luiz</title>
    <link rel="stylesheet" href="sobre.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../assets/teste_logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <a href="../index.html">
        <!-- <a href="#home"> -->
        <img class="logoImg" src="../assets/teste_logo.png" alt="" />
      </a>
      <nav>
        <ul>
          <li>
            <a href="sobre.html">Sobre</a>
            <!-- <a href="#sobre">Sobre</a> -->
          </li>
          <li>
            <a href="../projetos/projetos.html">Projetos</a>
          </li>
          <li>
            <a href="../contato/contato.html">Contato</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="sobre">
        <div class="sobreImg">
          <img class="imgFace" src="../assets/img.jpg" alt="" />
          <div class="sobre">
            <h3>Sobre mim.</h3>
            <h7>
              Meu nome é Antonio, tenho 26 anos e sou apaixonado por tecnologia
              e programação desde muito novo.
            </h7>
            <br />
            <h7>
              Sou um programador que aproveita os desafios, atualmente estou
              trabalhando como Desenvolvedor Full-Stack (gostando mais do Front
              ¯\_(ヅ)_/¯, e me acostumando com o Back), na Capgemini e tenho 2
              anos de experiência com essas tecnologias: HTML, CSS, TypeScript,
              Angular, Java, ferramentas de versionamento e ágil.
            </h7>
            <br />
            <h7>
              Estou sempre buscando aprender mais e mais, e acredito que a
              melhor forma de aprender é ensinando, por isso, estou sempre
              disposto a ajudar e ensinar quem precisar.
            </h7>
          </div>
        </div>
      </section>
    </main>
    <footer>copyright Aj - 2023</footer>
  </body>
</html>
