
<app-header></app-header>
<body>
<main>
  <section id="home">
    <div class="home">
      <div class="textos">
        <div class="texto1">
          <h1>Antonio Luiz Junior</h1>
        </div>
        <div class="texto2">mas pode me chamar só de Junior :)</div>
        <div class="texto3">
          Full-stack Developer com foco em Front-End.
        </div>
        <div class="texto4">
          Um programador “novato” com gigante vontade de aprender.
        </div>
      </div>
    </div>
  </section>
</main>
</body>
<app-footer></app-footer>
