<app-header></app-header>
<body>
  <main>
    <section id="contato">
      <div class="contatoPai">
        <h3>Contato</h3>
        <h4>Pode deixar seu recado, prometo que tentarei responder o mais
          rápido possível :)
        </h4
        >
        <div class="contato">
          <div class="forms">
            <div>
              <textarea
                class="form"
                rows="1"
                placeholder="Nome completo"
              ></textarea>
            </div>
            <div>
              <input class="form" type="email" placeholder="E-mail" />
            </div>
            <div>
              <textarea
                class="formMsg"
                rows="3"
                placeholder="Deixe sua mensagem"
              ></textarea>
            </div>
            <button class="botao" type="button">Enviar</button>
          </div>
          <div class="imagens">
            <a
              class="img"
              href="https://github.com/juniorrluiz"
              target="_blank"
            >
              <img class="imgCt" src="../assets/github.png" alt="github" /> /juniorrluiz
            </a>
            <a
              class="img"
              href="https://www.linkedin.com/in/antonioluizjunior/"
              target="_blank"
            >
              <img class="imgCt" src="../assets/linkedin.png" alt="linkedin" /> /antonioluizjunior
            </a>
            <a
              class="img"
              href="mailto:juniorrluizcontato@gmail.com?"
              target="_blank"
            >
              <img class="imgCt" src="../assets/email.png" alt="email" /> juniorrluiz.contato@gmail.com
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</body>
